h1{
    font-size: medium;
    color:aquamarine;
    align-items: center;
}
h2{
    font-size: small;
    color:blue;
}
img
{
    height:250px;
    width:250px;
    border-radius: 150px;
    border: 15 salmon;
    display:block;
    position: relative;
    border-top: 100px;
    border-right: 300px;
}
body{
    background-color: lightblue;
}